@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');


//variáveis de fontes

$fontePrincipal:'Outfit', sans-serif;
$fonteSecundaria:'Noto Sans Japanese', sans-serif;


//variáveis de cores

$ColorVermelho:#8B1A1A;
$ColorVerde:#2D7A3E;
$ColorCinza:#6B6969;
$ColorAzul:#3C63C4;
$ColorBranco:#ffffff;
$ColorPreta:#000000;
$ColoBackgroundAzul:#C3DDFF;
$ColorBackgroundCinza:#D9D9D9;

