@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');


//variáveis de fontes

$fontePrincipal:'Outfit', sans-serif;
$fonteSecundaria:'Noto Sans Japanese', sans-serif;


//variáveis de cores

$ColorVermelho:#8B1A1A;
$ColorVerde:#2D7A3E;
$ColorCinza:#6B6969;
$ColorCinzaClaro:#b9b9b9;
$ColorAzul:#3C63C4;
$ColorBranco:#ffffff;
$ColorPreta:#000000;
$ColoBackgroundAzul:#C3DDFF;
$ColorBackgroundCinza:#D9D9D9;


// Variáveis de cor Accordion
$cor-borda: #b13939;
$cor-fundo-cabecalho: #b13939;
$cor-fundo-ativo: #8B1A1A;
$cor-texto-claro: #ffffff;
$cor-fundo-detalhes: #fcecec;
$cor-linha-separadora: rgba(139, 26, 26, 0.2); // Linha sutil para separar os itens
$errorTextColor:#d32f2f;
$errorTextBackground:#ffebee;
$errorTextBorder:#ffcdd2;
$emptyTextBackground:#f5f5f5;
$emptyTextBorder:#ccc;
$label: #5A1A1A;
$BackgroundBagde:#dcfce7;