@use'../../styles/variaveis.scss' as*;

.Footer {
  background-color: $ColorVermelho;
  color: $ColorBranco;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  

        .Container{
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.5rem;
        }


}

.Brand{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;

    .BrandContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 28vw;


        .imgHouseBrand{
            height: 6vh;
        }

        .TituloBrand{
            font-family: $fontePrincipal;
        }

        p{
            font-family: $fonteSecundaria;
        }
    }
}


.Contatos{
    width: 35vw;
    font-family: $fontePrincipal;
    text-align: center;

    .SectionContatos{
        margin-top: 1rem;
        text-align: left;
    }

    .ListaContatos{
        display: flex;
        justify-content: space-evenly;
    }
}

.Divider{
  color: $ColorBranco;
  width: 97vw;
  margin: 0.5rem 0;
}

.Copy{
    font-family: $fonteSecundaria;
    font-size: 0.9rem;
}